$color-white: #fff;
$color-black: #000;
$color-grey-light: #ecf0f1;
$color-grey-dark: #95a5a6;
$primary-color: #CDDC39;
$primary-color-dark: #AFB42B;
$primary-color-light: #F0F4C3;
$primary-color-text: #212121;
$accent-color: #8BC34A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$background-color: #BDBDBD;
// FONT
$default-font-size: 1.6rem;
// GUTTER
$gutter-xsmall: 1rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;