.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    &__side {
        font-size: 2rem;
        height: 50rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 40vw;
        margin-left: 30vw;
        backface-visibility: hidden;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        &--front {
            background-color: $color-grey-dark;
        }
        &--back {
            background-color: $accent-color;
            transform: rotateY(180deg);
        }
    }
    &:hover &__side--front {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(360deg);
    }
}