.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 90%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: rgba(22, 160, 133, 1.0);
    border-radius: 20px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: rgba(22, 160, 133, 1.0);
}

input[type="submit"] {
    margin-top: 2ch;
    max-width: 90%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: rgba(231, 76, 60, 1.0);
    border-radius: 20px;
}