.gradient-text {
    margin-top: 10rem;
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-color, $secondary-text-color);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.5s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
}