.horizontal-slide {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2rem;
    flex: 0.9;
    display: flex;
    flex-direction: column;
    &__wrapper {
        vertical-align: center;
        margin-top: 3em;
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        &--card {
            flex: 0 0 auto;
            width: 25%;
            min-width: 5rem;
            height: 15rem;
            padding: .5rem;
            margin-right: 1rem;
            border-radius: 5px;
            background-color: $primary-color;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            margin-bottom: 2rem;
        }
    }
}