*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what one rem is
    font-size: 62.5%;
    background-color: $background-color;
    color: $primary-text-color;
}

body {
    box-sizing: border-box;
}