.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    &__header-box {
        padding: 4rem 2rem 2rem 2rem;
        position: absolute;
        height: 40vh;
        width: 60vw;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-image: linear-gradient( to right, $primary-color, $primary-color-light);
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        &--paragraph {
            color: $secondary-text-color;
            font-size: 1.8rem;
            font-weigth: 300;
        }
    }
}